body {
    font-family: Arial, sans-serif;
    background-color: #333;
    /* Color de fondo oscuro */
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    /* Fondo blanco para el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 50px;
    /* Tamaño de fuente más grande */
    text-align: center;
    background-color: #fd611a;
    /* Fondo naranja */
    color: white;
    /* Texto blanco */
    margin: 0;
    padding: 10px;
    /* Espaciado para mejorar la apariencia */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #fd611a;
    /* Color naranja para las etiquetas */
}

input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #fd611a;
    /* Color de fondo naranja */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #e05c17;
    /* Color más oscuro al pasar el ratón */
}

.mensaje-exito {
    color: green;
    font-weight: bold;
    text-align: center;
}

.mensaje-error {
    color: red;
    font-weight: bold;
    text-align: center;
}