body {
    font-family: Arial, sans-serif;
    background-color: #333;
    /* Color de fondo oscuro */
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 20px auto;
    background-color: #fff;
    /* Fondo blanco para el contenedor */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 50px;
    /* Tamaño de fuente más grande */
    text-align: center;
    background-color: #fd611a;
    /* Fondo naranja */
    color: white;
    /* Texto blanco */
    margin: 0;
    padding: 10px;
    /* Espaciado para mejorar la apariencia */
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #fd611a;
    /* Color naranja para las etiquetas */
}

/* Estilo unificado para campos de formulario */
input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    /* Incluir textarea en el grupo */
    width: 100%;
    /* Ancho completo */
    padding: 10px;
    /* Espaciado interno */
    margin-top: 5px;
    /* Espacio superior */
    margin-bottom: 10px;
    /* Espacio inferior */
    border: 1px solid #ccc;
    /* Borde */
    border-radius: 4px;
    /* Bordes redondeados */
    box-sizing: border-box;
    /* Incluir padding y borde en el ancho total */
}

/* Estilo específico para el textarea */
textarea {
    height: 100px;
    /* Altura del textarea */
    resize: vertical;
    /* Permitir solo el redimensionamiento vertical */
}

button {
    background-color: #fd611a;
    /* Color de fondo naranja */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
    /* Ancho completo */
}

button:hover {
    background-color: #e05c17;
    /* Color más oscuro al pasar el ratón */
}

.mensaje-exito {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    /* Espacio inferior para separación */
}

.mensaje-error {
    color: red;
    font-weight: bold;
    text-align: center;
}

.boton-volver {
    margin-top: 15px;
    /* Espacio superior para separación */
    text-align: center;
    /* Centrar el botón */
}

.boton-volver a {
    text-decoration: none;
    /* Eliminar el subrayado */
}

/* Estilo para el textarea al hacer foco */
input[type="text"],
input[type="number"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}