body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa;
    /* Color del contenedor */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #007bff;
    /* Color del título */
}

.mensaje-exito {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #d1ecf1;
    /* Color de fondo del mensaje */
    color: #0c5460;
    /* Color del texto del mensaje */
    border: 1px solid #bee5eb;
    /* Color del borde del mensaje */
}

table {
    width: 100%;
    border-collapse: collapse;
    /* Quitar el espacio entre celdas */
    margin-top: 20px;
    /* Espacio superior */
}

th,
td {
    padding: 12px;
    /* Espacio interno */
    text-align: left;
    /* Alineación del texto */
    border-bottom: 1px solid #ddd;
    /* Borde inferior */
}

th {
    background-color: #007bff;
    /* Color de fondo para encabezados */
    color: white;
    /* Color de texto para encabezados */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #d1ecf1;
    /* Color de fondo cuando se pasa el mouse */
}

/* Opcional: puedes añadir un estilo específico para las imágenes */
.card-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    /* Bordes redondeados */
}