.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    flex-grow: 1;
    /* Esto hará que el campo de entrada ocupe el espacio restante */
    min-width: 400px;
    /* Ancho mínimo */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #fd611a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #e05c17;
}