body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /* Cambiado para alinear verticalmente */
}

main {
    padding: 10%;
    width: 100%;
    /* Asegúrate de que ocupa el ancho total */
}

h2 {
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 90%;
    /* Ajustado a un valor razonable */
    max-width: 400px;
    /* Establecer un ancho máximo */
    margin: auto;
    /* Centrar el formulario */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #fd611a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

button[type="submit"]:hover {
    background-color: #e05a1e;
}

a {
    text-decoration: none;
    color: inherit;
}