header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    /* Reducido de 20px a 10px */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 1000;
}

h1 {
    margin: 0;
    /* Eliminar margen superior para acercarlo más al header */
    padding: 5px 0;
    /* Puedes ajustar el padding si lo deseas */
}

/* Ajustes en el nav */
nav {
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 5px 0;
    /* Puedes ajustar este padding si lo deseas */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Otros estilos permanecen igual... */


/* Asegúrate de que el nav ocupe el 100% del ancho */
nav {
    width: 100%;
    /* Asegúrate de que el nav ocupe toda la pantalla */
}

/* Elimina el margen superior del nav */


/* Estilos de los elementos de la lista */
nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
    /* Elimina el margen del último elemento */
}

/* Estilos de los enlaces */
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    /* Añade relleno para aumentar el área de clic */
    transition: background-color 0.3s ease;
    /* Animación de hover */
}

/* Cambiar color al pasar el mouse */
nav ul li a:hover {
    background-color: #444;
    /* Color de fondo al hacer hover */
    border-radius: 5px;
    /* Añadir esquinas redondeadas */
}

/* Estilo para el enlace activo */
nav ul li.active a {
    font-weight: bold;
    background-color: #555;
    /* Color de fondo para el enlace activo */
    border-radius: 5px;
    /* Añadir esquinas redondeadas */
}