body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* Asegúrate de que el contenedor principal del contenido ocupe toda la pantalla */
header {
    width: 100%;
    margin-bottom: 20px;
    /* Separa el navbar del formulario */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    background-color: #fd611a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #e05a1e;
}

.formulario {
    background-color: #fff;
    max-width: 400px;
    margin: auto;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #080300;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

.mensaje-exito {
    color: #0aa710;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

.mensaje-error {
    color: #b30404;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
}

/* Estilo para el botón usando solo la clase */
.boton {
    background-color: #fd611a;
    /* Color de fondo */
    color: #fff;
    /* Color del texto */
    padding: 10px 20px;
    /* Relleno */
    border: none;
    /* Sin borde */
    border-radius: 4px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s ease;
    /* Transición suave */
}

/* Estilo al pasar el mouse sobre el botón */
.boton:hover {
    background-color: #e05a1e;
    /* Color de fondo al hacer hover */
}